div.ItsButton {
    display:inline-block;
    float:left;
    cursor:pointer;
    width:auto;
    height:auto;
    margin-left:4px;
    padding-top:1px;
    padding-bottom:1px;
    background-color:transparent;
    vertical-align:middle;
    color:red;
    border:none;
}
/*#MAIN_BUTTON div.ItsButton_table {
    height:25px;
}*/
div.ItsButton_table {
    display:table-cell;
    padding-left:8px;
    padding-right:8px;
    height:20px;
    background-color:transparent;
    vertical-align:middle;
    border:1px solid silver;
    border-radius: 4px;
}
div.ItsButton_disabled {
    opacity:0.7 !important;
    cursor:default;
}
div.ItsButton:hover {
    color: chocolate;
    border-radius: 4px;
    opacity:0.9;
}
div.ItsButton_table:focus { 
    color: #fff;
    background-color: #286090;
    border-radius: 4px;
}