div.ItsRadio {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: auto;
    height: auto;
    /*margin-left: 4px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    vertical-align: auto;
    color: black;
    border: none;
}

div.ItsRadio_table {
    display: table-cell;
    /*padding-left: 8px;
    padding-right: 8px;*/
    height: 32px;
    background-color: transparent;
    vertical-align: middle;
    color:black;
    /*border: 1px solid silver;*/
}
span.ItsRadio_span {
    vertical-align: text-bottom;
    display: inline-block;
    text-align: right;
    margin-right: 4px;
    background-color: transparent;
    /*font-size: 13px;*/
    white-space: normal;
}

/*div.ItsRadio:hover {
    opacity: 0.7;
}*/
div.ItsRadio_disabled {
    opacity: 0.7;
    cursor: default;
}
div.ItsRadio_table:focus {
    opacity: 0.7;
}
div.ItsRadio_input{

}
div.ItsRadio_label{
    vertical-align: top;
}